*{
    padding: 0;
    margin: 0;
}
div{
    width: 300px;
    margin: 5px auto;
}
h1{
    text-align: center  ;
    font-size: 10rem;
}
button{
    margin: 10px ;
    padding: 10px;
    background-color:rgba(12, 245, 32, 0.695);
    border: 3px solid #90395f;
    color:#90395f ;
    cursor: pointer;
    transition: all 1s ease-in-out ;
}

button:hover{
    background-color:rgb(12, 245, 32);
}
 